Master Orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WORKFLOW_ID_AI_QUALIFICATION",
          "mode": "list",
          "cachedResultUrl": "/workflow/WORKFLOW_ID_AI_QUALIFICATION",
          "cachedResultName": "AI Qualification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        304
      ],
      "id": "85ab5b84-c27b-4a14-a350-fbcfe7cd08b7",
      "name": "Step 1: Qualify with AI",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WORKFLOW_ID_CRM_SYNC",
          "mode": "list",
          "cachedResultUrl": "/workflow/WORKFLOW_ID_CRM_SYNC",
          "cachedResultName": "CRM Sync"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.message.content.name }}",
            "email": "={{ $json.message.content.email }}",
            "score": "={{ $json.message.content.score }}",
            "summary": "={{ $json.message.content.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        288
      ],
      "id": "246dfdfa-aece-48ef-a10a-f3b683294975",
      "name": "Call 'CRM Sync'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "contains",
              "value2": "@"
            }
          ]
        }
      },
      "id": "0e672ccc-a875-465b-8542-1019a5243394",
      "name": "Check Validity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        288,
        320
      ]
    },
    {
      "parameters": {
        "content": "### MASTER ORCHESTRATOR\n1. Webhook receives lead.\n2. Code Node cleans data.\n3. IF node checks if lead is valid (contains an email address).\n4. Sub-workflows handle AI scoring, CRM syncing & agent notification.\n5. The agent notification is via email, and if it's a hot lead, by SMS and Telegram",
        "height": 220,
        "width": 492
      },
      "id": "66ce1d15-0655-4ee3-bfd1-11c4e0bc3179",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Standardize incoming data$input.first().json.name\nconst input = $input.first().json.body\nreturn {\n  name: input.name || \"Unknown\",\n  email: input.email || \"\",\n  phone: input.phone || \"\",\n  message: input.message || \"\",\n  source: input.source || \"\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        320
      ],
      "id": "47532353-7bd9-43cd-ad32-17f19d857409",
      "name": "Cleanup/Sanitize"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WORKFLOW_ID_LEAD_NOTIFICATION",
          "mode": "list",
          "cachedResultUrl": "/workflow/WORKFLOW_ID_LEAD_NOTIFICATION",
          "cachedResultName": "Lead Notification System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "score": "={{ $json.Score }}",
            "name": "={{ $('Step 1: Qualify with AI').item.json.message.content.name }}",
            "summary": "={{ $('Step 1: Qualify with AI').item.json.message.content.summary }}",
            "intent": "={{ $('Step 1: Qualify with AI').item.json.message.content.intent }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        288
      ],
      "id": "893208a2-0ea2-4703-baec-5db15e788a58",
      "name": "Call 'Lead Notification System'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "formTitle": "LeadPulse Demo",
        "formFields": {
          "values": [
            {
              "fieldName": "name",
              "fieldLabel": "Name",
              "placeholder": "Name",
              "defaultValue": "John Doe"
            },
            {
              "fieldName": "email",
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "name@domain.com"
            },
            {
              "fieldName": "phone",
              "fieldLabel": "Phone",
              "placeholder": "888-555-1234"
            },
            {
              "fieldName": "message",
              "fieldLabel": "How can we help?",
              "placeholder": "message goes here"
            },
            {
              "fieldName": "source",
              "fieldType": "hiddenField",
              "fieldValue": "Facebook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -704,
        944
      ],
      "id": "8484c121-2fc3-4fdd-92de-d47902398852",
      "name": "VelociLead form",
      "webhookId": "WEBHOOK_ID_VELOCILEAD_FORM"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Orchestrator error: Failed to qualify lead",
        "message": "=Orchestrator error: Failed to qualify lead for the user:\n\n<br>Name: {{ $('Cleanup/Sanitize').item.json.name }}\n<br>Email: {{ $('Cleanup/Sanitize').item.json.email }}\n<br>Phone: {{ $('Cleanup/Sanitize').item.json.phone }}\n<br>Message: {{ $('Cleanup/Sanitize').item.json.message }}\n<br>Source: {{ $('Cleanup/Sanitize').item.json.source }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        544
      ],
      "id": "4dabf5dd-a32c-4fcb-a51d-7a795c22f846",
      "name": "Alert - lead qualification failed",
      "webhookId": "WEBHOOK_ID_GMAIL_ALERT",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_OAUTH2_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Failed to email search results to lead",
        "message": "=<p>The CRM Sync failed for the following.</p>\n<p><br>Name: {{ $('Cleanup/Sanitize').item.json.name }}\n<br>Email: {{ $('Cleanup/Sanitize').item.json.email }}\n<br>Phone: {{ $('Cleanup/Sanitize').item.json.phone }}\n<br>Message: {{ $('Cleanup/Sanitize').item.json.message }}\n<br>Source: {{ $('Cleanup/Sanitize').item.json.source }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        544
      ],
      "id": "d68644a1-b2d1-45ac-af4e-6e995da43be2",
      "name": "Alert - CRM Sync failed",
      "webhookId": "WEBHOOK_ID_GMAIL_ALERT",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_OAUTH2_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Failed to notify the agent",
        "message": "=<p>Orchestrator error: Failed to notify the agent.</p><p><br>Name: {{ $('Cleanup/Sanitize').item.json.name }}\n<br>Email: {{ $('Cleanup/Sanitize').item.json.email }}\n<br>Phone: {{ $('Cleanup/Sanitize').item.json.phone }}\n<br>Message: {{ $('Cleanup/Sanitize').item.json.message }}\n<br>Source: {{ $('Cleanup/Sanitize').item.json.source }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        544
      ],
      "id": "009ed529-2308-4617-87cb-8eb59f2a7ee3",
      "name": "Alert - agent notification failed",
      "webhookId": "WEBHOOK_ID_GMAIL_ALERT",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_OAUTH2_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WEBHOOK_PATH_MASTER_ORCHESTRATOR",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        160
      ],
      "id": "2c4dc5a6-c13b-4167-bac0-988d2f7da9b3",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_MASTER_ORCHESTRATOR"
    }
  ],
  "pinData": {},
  "connections": {
    "Step 1: Qualify with AI": {
      "main": [
        [
          {
            "node": "Call 'CRM Sync'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert - lead qualification failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validity": {
      "main": [
        [
          {
            "node": "Step 1: Qualify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup/Sanitize": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CRM Sync'": {
      "main": [
        [
          {
            "node": "Call 'Lead Notification System'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert - CRM Sync failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VelociLead form": {
      "main": [
        []
      ]
    },
    "Call 'Lead Notification System'": {
      "main": [
        [],
        [
          {
            "node": "Alert - agent notification failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Cleanup/Sanitize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "VERSION_ID",
  "meta": {
    "instanceId": "INSTANCE_ID"
  },
  "id": "WORKFLOW_ID_MASTER_ORCHESTRATOR",
  "tags": []
}